<div class="sidebar">
    <div class="info-account d-flex pt-4">
        <img src="../../assets/img/doctor_steven.jpeg" alt="account_image">
        <p *ngIf="isLoggedIn">{{loggedInUser}}</p>
        <p>Doctor</p>
    </div>
    <div class="menu">
        <ul>
            <!-- <li routerLinkActive="active"><a href="#" [routerLink]="['/dashboard', {outlets: {content: ['my-profile']}}]"><i class="fa fa-user-md" aria-hidden="true"></i> My Profile</a></li> -->
            <li routerLinkActive="active"><a href="#" [routerLink]="['/dashboard', {outlets: {content: ['patients']}}]"><i class="fa fa-database" aria-hidden="true"></i> Patients</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/dashboard', {outlets: {content: ['doctors']}}]"><i class="fa fa-database" aria-hidden="true"></i> Doctors</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/dashboard', {outlets: {content: ['weather']}}]"><i class="fa fa-cloud" aria-hidden="true"></i> Weather</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/dashboard', {outlets: {content: ['settings']}}]"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
        </ul>
    </div>
</div>