<div class="sidebar">
    <div class="info-account d-flex pt-4">
        <img src="../../assets/img/doctor_steven.jpeg" alt="account_image">
        <p>Steven Dirksen</p>
        <p>Doctor</p>
    </div>
    <div class="menu">
        <ul>
            <li class="active"><a href=""><i class="fa fa-user-md" aria-hidden="true"></i> My Profile</a></li>
            <li><a href=""><i class="fa fa-database" aria-hidden="true"></i> Patients</a></li>
            <li><a href=""><i class="fa fa-edit" aria-hidden="true"></i> New Analysis</a></li>
            <li><a href=""><i class="fa fa-list-alt" aria-hidden="true"></i> To Do Manager</a></li>
            <li><a href=""><i class="fa fa-comment" aria-hidden="true"></i> Chat</a></li>
        </ul>
    </div>
</div>