<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">  
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="col-md-10 offset-1">
                <div class="modal-body d-flex flex-column">
                    <img src="../../assets/img/stethoscope-grey.svg" alt="stethoscope" class="modal-title mx-auto">
                    <h4>Sign Up</h4>

                    <form>
                        <div class="form-group">
                            <label class="mr-sm-2" for="specialization" class="specialization">Specialization</label>
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="specialization">
                              <option selected>Choose...</option>
                              <option value="1">Doctor</option>
                              <option value="2">Engineer</option>
                            </select>
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <label for="password">Password</label>
                            <input type="passwrod" class="form-control" id="password" aria-describedby="password" placeholder="Enter password">
                            <a href="#"><small id="emailHelp" class="form-text text-muted">Forgot your password ?</small></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn" data-dismiss="modal">Sign Up</button>
            </div>
        </div>
    </div>
</div>