.card {
    margin-top: 17%;
    box-shadow: 0 0 5px rgba(0, 183, 243, 0.3);
    border: 0;
    border-radius: 0;
}

.under-head-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4a5666;
    .left-side {
        h4 {
            font-size: 1.2rem;
        }
    }
}

hr {
    background: rgba(0, 183, 243, 0.3);
}