<div class="card">
    <h3 class="card-header">
        Edit Settings
    </h3>
    <div class="card-block">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label>Disable/Allow Care Plan on Add</label>
                <input type="checkbox" [checked]="settings.disableCareplanOnAdd" (change)="settings.disableCareplanOnAdd = !settings.disableCareplanOnAdd" name="disableCareplanOnAdd">
            </div>

            <div class="form-group">
                <label>Disable/Allow Care Plan on Edit</label>
                <input type="checkbox" [checked]="settings.disableCareplanOnEdit" (change)="settings.disableCareplanOnEdit = !settings.disableCareplanOnEdit" name="disableCareplanOnEdit">
            </div>

            <div class="form-group">
                <label>Disable/Allow Medical State on Edit</label>
                <input type="checkbox" [checked]="settings. disableMedicalStateOnEdit" (change)="settings. disableMedicalStateOnEdit = !settings. disableMedicalStateOnEdit" name=" disableMedicalStateOnEdit">
            </div>

            <div class="form-group">
                <label>Disable/Allow Medical State on Add</label>
                <input type="checkbox" [checked]="settings. disableMedicalStateOnAdd" (change)="settings. disableMedicalStateOnAdd = !settings. disableMedicalStateOnAdd" name=" disableMedicalStateOnAdd">
            </div>

            <input type="submit" class="btn btn-success btn-block" value="Submit">

        </form>
    </div>
</div>