<div class="jumbotron">
    <div class="container">
        <div class="col-md-5 mt-5">
            <h3 class="text-white">Welcome to Healthcare App</h3>
            <p class="text-white">By using this product, you also sace trees, because all notes and records that were made on paper now submitted electronically</p>
        </div>
    </div>
</div>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 d-flex align-items-center flex-wrap">
                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="text">
                            <h4>24 Hours Services</h4>
                            <p>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <div class="text">
                            <h4>Medical Consulting</h4>
                            <p>Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum. Sed ac dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <div class="text">
                            <h4>Reasonable Billing</h4>
                            <p>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <div class="text">
                            <h4>Qualified Doctors</h4>
                            <p>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-hospital-o" aria-hidden="true"></i>
                        <div class="text">
                            <h4>Humble Staff</h4>
                            <p>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <div class="text">
                            <h4>24 Hours Services</h4>
                            <p>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="doctor">
                    <img class="img-fluid" src="../assets/img/doctor.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<hr class="color">
<section id="support">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h4>Our Medical</h4>
                <h1>DEPARTMENTS</h1>
                <p>Suspendisse potenti. Maecenas dapibus ac tellus sed pulvinar. Vestibulum bib volutpat accumsan non laoreet...</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <ul>
                    <li>Anesthesiology & Pain Management</li>
                    <li> Cancer (Taussig)</li>
                    <li> Children's</li>
                    <li> Dermatology & Plastic Surgery</li>
                    <li> Digestive Disease</li>
                    <li> Endocrinology & Metabolism</li>
                    <li> Genomic Medicine</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <ul>
                    <li>Anesthesiology & Pain Management</li>
                    <li> Cancer (Taussig)</li>
                    <li> Children's</li>
                    <li> Dermatology & Plastic Surgery</li>
                    <li> Digestive Disease</li>
                    <li> Endocrinology & Metabolism</li>
                    <li> Genomic Medicine</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr class="color">

<section id="achievemnts">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="group">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                    <div class="text">
                        <h4>50</h4>
                        <p>HOSPITAL ROOMS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="group">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <div class="text">
                        <h4>30</h4>
                        <p>PROFESSIONALS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="group">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="text">
                        <h4>12</h4>
                        <p>HOSPITAL AWARDS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="group">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <div class="text">
                        <h4>500</h4>
                        <p>HAPPY PATIENTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-4 text-center">
                <p>© 2017 HEALTHCARE. ALL RIGHT RESERVED.</p>
            </div>
            <div class="col-sm-2 col-md-1 pull-right text-center">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-etsy" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>