<form class="bd-search hidden-sm-down float-right">
    <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
    <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patients</th>
            <th>SSN</th>
            <th>Mediacal State</th>
            <th>Care Plan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img class="rounded-circle patient-photo" src="../../assets/img/patient1.jpg" alt=""> Elsa Herrera</td>
            <td>296173091</td>
            <td>Good</td>
            <td>Light Weight Excersice</td>
            <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img class="rounded-circle patient-photo" src="../../assets/img/patient1.jpg" alt=""> Elsa Herrera</td>
            <td>296173091</td>
            <td>Serious</td>
            <td>Light Weight Excersice</td>
            <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><img class="rounded-circle patient-photo" src="../../assets/img/patient1.jpg" alt=""> Elsa Herrera</td>
            <td>296173091</td>
            <td>Fair</td>
            <td>Light Weight Excersice</td>
            <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>
<nav aria-label="table navigation ">
    <ul class="pagination float-right">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>