<div class="row">
    <div class="col-md-6">
        <h5 class="text-muted">Total Patients: {{totalPatients}}</h5>
    </div>
    <div class="col-md-6 pull-right">
        <a href="#" [routerLink]="['/dashboard', {outlets: {content: 'add-patient'}}]"><i class="fa fa-plus"></i> Add new Patient</a>
        <form class="bd-search hidden-sm-down pull-right">
            <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
            <div class="dropdown-menu bd-search-results" id="search-results"></div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patients</th>
            <th>SSN</th>
            <th>Mediacal State</th>
            <th>Care Plan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.$key}}</td>
            <td class="text-left"><img class="rounded-circle patient-photo" src="../../assets/img/patient1.jpg" alt=""> {{patient.firstName}} {{patient.lastName}} </td>
            <td>{{patient.ssn}} </td>
            <td>{{patient.mediacalState}} </td>
            <td>{{patient.carePlan}} </td>
            <td><i class="fa fa-trash-o" aria-hidden="true"></i>
                <a href="#" class="btn" [routerLink]="['/dashboard', {outlets: {content: 'patient/'+patient.$key}}]"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="table navigation ">
    <ul class="pagination float-right">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>