<div class="row">
    <div class="col-md-6">
        <h5 class="text-muted total-patients">Total Patients: {{totalPatients}}</h5>
    </div>
    <div class="col-md-6 pull-right">
        <a class="add-new-patient" href="#" [routerLink]="['/dashboard', {outlets: {content: 'add-patient'}}]"><i class="fa fa-plus"></i> Add new Patient</a>
        <form class="bd-search hidden-sm-down pull-right">
            <input type="text" class="form-control" id="search-input" placeholder="Search..." [(ngModel)]="term" name="search">
            <div class="dropdown-menu bd-search-results" id="search-results"></div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patients</th>
            <th>SSN</th>
            <th>Mediacal State</th>
            <th>Care Plan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients | filter: term | paginate: { itemsPerPage: 5, currentPage: p }">
            <!-- <td>{{patient.$key}}</td> -->
            <td></td>
            <td class="text-center">{{patient.firstName}} {{patient.lastName}} <img src="{{patient.photoUrl}}" alt=""> </td>
            <td>{{patient.ssn}} </td>
            <td class="medicalState" #myname>{{patient.mediacalState}}</td>
            <td>{{patient.carePlan | slice:0:15}}...</td>
            <td>
                <a href="#" class="btn view-more" [routerLink]="['/dashboard', {outlets: {content: 'patient/'+patient.$key}}]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="table navigation ">
    <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>
</nav>

<!-- <img class="rounded-circle patient-photo" src="../../assets/img/patient1.jpg" alt="">  -->