<nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#"><img src="../../assets/img/stethoscope.svg" alt="stethoscope"> Healthcare App | <span class="active-page">Dashboard</span></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!isLoggedIn" class="nav-item ">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong">Sign In</a>
            </li>
            <li *ngIf="!isLoggedIn  && showRegister" class="nav-item ">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#registration">Sign Up</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item ">
                <a class="nav-link" href="#" (click)="onLogoutClick()">Log Out</a>
            </li>
        </ul>

    </div>
</nav>